* {
  border-radius: 3px;
  border: none;
}

window {
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  font-size: 20px;
  font-family: JetBrainsMono
} 

#input {
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  border: none;
}

#input:selected {
  border: none;
}
